<%= form_for :order, :url => populate_orders_url, :remote => true, :html => {:class => "form-inline"} do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price">
        <% if @product.variants_and_option_values(current_currency).any? %>
          <div id="product-variants">
            <%= hidden_field_tag :product_id, @product.id %>
            <%# Show options as dropdowns %>
            <% @product.option_types.each do |option_type| %>
              <p class="span4 option">
                <%= option_type.presentation %><br/>
                  <%= select_tag("option_types[#{option_type.id}]", options_for_select(option_type.option_values.map {|ov| variant = ov.variants.where("product_id = #{@product.id}").first; [ "#{ov.presentation} #{variant_price variant}", ov.id ] if variant } ), :data => { :name => option_type.name.underscore, :modifies_price => true }, :style => "width:95%" ) %>
              </p>
            <% end%>
            <ul>
          </div>
        <% end %>
        <div class="clearfix"></div>
        <div id="product-price">
          <p class="price"><i class="icon-tag"></i><span id="price"><%= display_price(@product) %></span></p>
        </div>
        <div class="add-to-cart">
          <%= number_field_tag (@product.variants_and_option_values.any? ? :quantity : "variants[#{@product.master.id}]"),
            1, :class => 'title', :min => 1 %>
          <%= button_tag :class => 'theme', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>
<%= hidden_field_tag :original_price, display_price(@product) %>

<script type="text/javascript">
  <%# When variant dropdowns changed, change price accordingly %>
  $("select[data-modifies-price]").change(function() {
    var orig_price = $("#original_price").val();
    var price_span = $("span#price");
    var price_change = 0;
    $("select[data-modifies-price] option:selected").each(function() {
      var option_val = $(this).text();
      if (option_val.indexOf(": $") > -1) {
        var option_diff = parseFloat(option_val.substring(option_val.indexOf("$") + 1, option_val.length - 2));
        if (option_val.indexOf("Subtract") > -1) { option_diff = -option_diff; }
        price_change += option_diff;
      }
    });
    price_span.text("$" + (Number(orig_price.replace(/[^0-9\.]+/g,"")) + price_change).toFixed(2));
  });
</script>

