<h4><%= link_to revision.title, revision.full_url %></h4>
<p>
  <small class="date">
    <i class="icon-calendar"></i>
    <span data-monologue="time">
      <time datetime="<%= revision.published_at %>">
        <%= I18n.localize(revision.published_at.to_date, format: :long) %>
      </time>
    </span>
  </small> |
  <small>
    <span data-monologue="user">
      <%= revision.post.user.name %>
    </span>
  </small> |
  <small class="comments">
    <i class="icon-comment"></i>
    <span data-monologue="disqus">
      <a href="<%= revision.full_url + "#disqus_thread" %>"></a>
    </span>
  </small>
</p>

