<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<div id="products" class="inline product-listing" data-hook>
<% if products.empty? %>
  <p><%= Spree.t(:no_products_found) %></p>
<% elsif params.key?(:keywords) %>
  <header class="span12 prime">
    <h3 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h3>
  </header>
<% end %>
  <% if products.any? %>
    <%= render products %>
    <% reset_cycle("classes") %>
  <% end %>
</div>

<% if paginated_products.respond_to?(:num_pages) %>
  <div class="text-center" style="clear:both">
    <%= paginate paginated_products, :theme => 'twitter-bootstrap', :pagination_class => "pagination-centered" %>
  </div>
<% end %>
<div class='alert text-center'><i class='icon-help'></i> Didn’t find what you’re looking for? <%= link_to 'Contact us', contact_path %>.

