<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render :partial => 'spree/shared/header' %>
    <%= flash_messages %>

    <div class="homepagecontainer">
      <div class="slides home-span12">
        <div class="container">
	        <div id="flexslider" class="flexslider row">
	          <%= insert_banner_box category: "home", class: "slides span12", list: true%>
	        </div>
        </div>
      </div>
      <%#><div class="clearfix"></div>
      <!-- =================== -->
      <!-- Promo Banner Option -->
      <!-- =================== -->
      <section class="home-panel promo">
        <div class="container" style="display:block">
		        <div class="row-fluid">
			        <article class="span4"><a href="#"><img src="assets/store/banner/samplepromo.jpg" alt="" /></a></article>
			        <article class="span4"><a href="#"><img src="assets/store/banner/samplepromo.jpg" alt="" /></a></article>
			        <article class="span4"><a href="#"><img src="assets/store/banner/samplepromo.jpg" alt="" /></a></article>
		        </div>
        </div>
      </section>
      %>
      <div class="container home">

	      <!-- ================ -->
	      <!-- Featured section -->
	      <!-- ================ -->
	      <section class="feat">

		      <div class="row">
			      <div class="span12">

				      <h6 class="subhead theme"><strong>FEATURED ITEMS</strong></h6>

				      <div class="tab-content row">

				        <!-- Feat tab -->
				        <div class="tab-pane active" id="feat">
	       	  	  	<article class="span4">
						        <div class="view view-thumb">
							        <img src="assets/store/products/1.jpg" alt="" />
							        <div class="mask">
                        <p>Product description Vestibulum ante ipsum primis in faucibus orci luctus.</p>
                        <a href="product.html" class="info">View</a>
                        <a href="checkout.html" class="info">Buy</a>
      							  </div>
						        </div>
						        <h2>$69</h2>
						        <p><a href="#">Sample Featured Product</a></p>
					        </article>
					        <article class="span4">
						        <div class="view view-thumb">
        							<img src="assets/store/products/2.jpg" alt="" />
							        <div class="mask">
                        <p>Product description Vestibulum ante ipsum primis in faucibus orci luctus.</p>
                        <a href="product.html" class="info">View</a> <a href="checkout.html" class="info">Buy</a>
							        </div>
						        </div>
						        <h2>$69</h2>
						        <p><a href="#">Sample Featured Product</a></p>
					        </article>
					        <article class="span4">
						        <div class="view view-thumb">
							        <img src="assets/store/products/4.jpg" alt="" />
							        <div class="mask">
                        <p>Product description Vestibulum ante ipsum primis in faucibus orci luctus.</p>
                        <a href="product.html" class="info">View</a> <a href="checkout.html" class="info">Buy</a>
							        </div>
						        </div>
						        <h2>$69</h2>
						        <p><a href="#">Sample Featured Product</a></p>
					        </article>
				        </div>
				      </div> <!-- End tab-content -->
			      </div>
		      </div>


		      <!-- ====== -->
		      <!-- Brands -->
		      <!-- ====== -->

		      <h6 class="subhead theme brands"><strong>DESIGNER BRANDS</strong></h6>

		      <div class="tab-brand">
			      <div id="flexcarousel-brands" class="flexslider">
			        <ul class="slides">
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			          <li><img src="http://placehold.it/140x100" alt="" /></li>
			        </ul>
			      </div>
		      </div>
	      </section>
      </div>
    </div>
    <%= render :partial => 'spree/shared/footer' %>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>
  </body>
</html>

